-- MySQL dump 10.13  Distrib 8.0.39, for Win64 (x86_64)
--
-- Host: sales-db.mysql.database.azure.com    Database: unifiedvehicledata
-- ------------------------------------------------------
-- Server version	8.0.37-azure

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `keyperdata`
--

DROP TABLE IF EXISTS `keyperdata`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `keyperdata` (
  `my_row_id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `StockNumber` varchar(100) DEFAULT NULL,
  `Status` varchar(50) DEFAULT NULL,
  `User` varchar(100) DEFAULT NULL,
  `Checkout Local Time` varchar(50) DEFAULT NULL,
  `description` text,
  `removal_type` varchar(50) DEFAULT NULL,
  `cabinet` varchar(50) DEFAULT NULL,
  `system` varchar(50) DEFAULT NULL,
  `location` varchar(100) DEFAULT NULL,
  `reason` varchar(200) DEFAULT NULL,
  PRIMARY KEY (`my_row_id`)
) ENGINE=InnoDB AUTO_INCREMENT=2382 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `keyperdata`
--

LOCK TABLES `keyperdata` WRITE;
/*!40000 ALTER TABLE `keyperdata` DISABLE KEYS */;
/*!40000 ALTER TABLE `keyperdata` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `temp_vehicle_data`
--

DROP TABLE IF EXISTS `temp_vehicle_data`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `temp_vehicle_data` (
  `my_row_id` bigint unsigned NOT NULL AUTO_INCREMENT /*!80023 INVISIBLE */,
  `Priority` text,
  `Stock No.` text,
  `VIN` text,
  `Recall` bigint DEFAULT NULL,
  `Retail Media` bigint DEFAULT NULL,
  `Recon Media` bigint DEFAULT NULL,
  `New/Used` text,
  `Year` bigint DEFAULT NULL,
  `Make` text,
  `Model` text,
  `Exterior color` text,
  `ODO` double DEFAULT NULL,
  `Acquired` text,
  `Age` text,
  `DIS` text,
  `DIR` text,
  `DMS` text,
  `Last Located` double DEFAULT NULL,
  `Step` text,
  `Note` text,
  PRIMARY KEY (`my_row_id`)
) ENGINE=InnoDB AUTO_INCREMENT=344 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `temp_vehicle_data`
--

LOCK TABLES `temp_vehicle_data` WRITE;
/*!40000 ALTER TABLE `temp_vehicle_data` DISABLE KEYS */;
/*!40000 ALTER TABLE `temp_vehicle_data` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `unifiedvehicledata`
--

DROP TABLE IF EXISTS `unifiedvehicledata`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `unifiedvehicledata` (
  `my_row_id` bigint unsigned NOT NULL AUTO_INCREMENT /*!80023 INVISIBLE */,
  `Stock #` text,
  `New/Used` text,
  `Certified` text,
  `Year` bigint DEFAULT NULL,
  `Make` text,
  `Model` text,
  `Series` text,
  `Age` text,
  `Color` text,
  `Interior` text,
  `VIN` text,
  `Odometer` text,
  `Starred Equip` text,
  `Report` text,
  `Recall` text,
  `Warnings` text,
  `Problems` text,
  `Recall Status` text,
  `Tags` text,
  `vRank` text,
  `Price Rank` text,
  `Vin Leads` bigint DEFAULT NULL,
  `Current Price` text,
  `DIS` text,
  `DIR` text,
  PRIMARY KEY (`my_row_id`)
) ENGINE=InnoDB AUTO_INCREMENT=2216 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `unifiedvehicledata`
--

LOCK TABLES `unifiedvehicledata` WRITE;
/*!40000 ALTER TABLE `unifiedvehicledata` DISABLE KEYS */;
/*!40000 ALTER TABLE `unifiedvehicledata` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `vehicles`
--

DROP TABLE IF EXISTS `vehicles`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `vehicles` (
  `my_row_id` bigint unsigned NOT NULL AUTO_INCREMENT /*!80023 INVISIBLE */,
  `Priority` text,
  `StockNumber` text,
  `VIN` text,
  `Recall` bigint DEFAULT NULL,
  `Retail Media` bigint DEFAULT NULL,
  `Recon Media` bigint DEFAULT NULL,
  `New/Used` text,
  `Year` bigint DEFAULT NULL,
  `Make` text,
  `Model` text,
  `ExteriorColor` text,
  `Odometer` double DEFAULT NULL,
  `Acquired` text,
  `Age` text,
  `DIS` text,
  `DIR` text,
  `DMS` text,
  `Last Located` double DEFAULT NULL,
  `ReconStatus` text,
  `Note` text,
  PRIMARY KEY (`my_row_id`)
) ENGINE=InnoDB AUTO_INCREMENT=344 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `vehicles`
--

LOCK TABLES `vehicles` WRITE;
/*!40000 ALTER TABLE `vehicles` DISABLE KEYS */;
/*!40000 ALTER TABLE `vehicles` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2025-01-08 19:12:28
